<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav nav navbar-left mr-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Home</a></li>
    </ul>
    <ul class="navbar-nav nav navbar-right mr-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Register</a></li>
        <li class="nav-item"><a class="nav-link" (click) ="onLogoutClick()">Logout</a></li>
    </ul>
  </div>
</nav>
